<router-outlet></router-outlet>
<!-- Navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3">
      <div class="container"><a routerLink="['/']" class="navbar-brand text-uppercase font-weight-bold">
          SCOTLAND<img src="assets/images/deer.png" alt="alternative">ALBA</a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
          
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a routerLink="/Home" class="nav-link text-uppercase font-weight-bold">Home<span class="sr-only">(current)</span></a></li>
                  <li class="nav-item"><a routerLink="/blog" class="nav-link text-uppercase font-weight-bold">Blog</a></li>
                  <li class="nav-item"><a routerLink="/contact-us" class="nav-link text-uppercase font-weight-bold">Contact Us</a></li>
              </ul>
          </div>
      </div>
  </nav>
</header>

<!--Footer-->
<footer>
    <section class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-single">
                    <div class="dummy-logo">
                        <div class="icon pull-left brand">
                            <img src="assets/images/deer.png" alt="logo">
                        </div>
                        <h2>Scotland Alba</h2>
                    </div>
                        <p>We provide the best tourism guidance across scotland</p>
                        <a routerLink="/Home" class="btn btn-footer">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-single useful-links" id="navigation">
                    <div class="footer-title"><h2>Navigation</h2></div>
                    <ul class="list-unstyled">
                        <li><a routerLink="/Home">Home <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a routerLink="/blog">Blog<i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a routerLink="/contact-us">Contact Us <i class="fa fa-angle-right pull-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-single" id="contact">
                    <div class="footer-title"><h2>Contact Information</h2></div>
                    <address>
                       DD/C3 akashvani vihar<br>
                           Residency Area<br>
                        <i class="fa fa-phone"></i>  9769611414 <br>
                        <i class="fa fa-fax"></i> 012 123 2345<br>
                        <i class="fa fa-envelope"></i>anchal.somani05@gmail.com<br>
                    </address>					
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="nb-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyrt xs-center">
                    2015 © All Rights Reserved. <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
                </div>
                <div class="col-sm-6 text-right xs-center">
                    <ul class="list-inline footer-social">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>


   