<div class="container py-5" id="heading-container">
    <header class="text-center">
        <h3 class="display-4 font-weight-bold">latest Blogs on Travelling to Scotland</h3>
        <p class="font-italic text-muted mb-0">Explore more here to know about Scotland Tour</p>
    </header>
</div>

<div class="py-5">
    <div class="row">
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/info/see-do/search-results?prodtypes=acti,attr,reta&loc=Scotland&locplace=&locprox=0&fac_id=weareopen&fac_id=goodtogo">
            <div class="hover hover-2 text-white rounded"><img src="assets/images/image3 (5).jpg" alt="image1" style="height:400px;">
                <div class="hover-overlay"></div>
                <div class="hover-2-content px-5 py-4">
                    <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">5 short breaks in Scotland</h3>
                    <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/see-do/attractions/wildlife/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image3 (6).jpg" alt="image2" style="height:400px;">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Wild Life Sanctuary</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/see-do/food-drink/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image3 (1).jpg" alt="image2" style="height:400px;">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Food And Drinks In scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row" id="second-row">
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/blog/attractions/lighthouses-to-visit-and-stay-in/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image3 (2).jpg" alt="image1" style="height:400px;">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Light House in Scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>  
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.historic-uk.com/HistoryMagazine/DestinationsUK/HistoricSitesinScotland/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image3 (3).jpg" alt="image2" style="height:400px;">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Historic Places in Scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/info/see-do/search-results?prodtypes=acti,attr,reta&loc=Scotland&locplace=&locprox=0&fac_id=weareopen&fac_id=goodtogo">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image3 (4).jpg" alt="image2" style="height:400px;">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Beautiful Scenary in Scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" id="third-row">
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.touropia.com/best-places-to-visit-in-scotland/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image4 (1).jpg" alt="image1" style="height:400px">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Attraction in Scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/blog/attractions/best-scottish-gardens/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image4 (2).jpg" alt="image2" style="height:400px">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Gardens Of Scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            <a href="https://www.visitscotland.com/destinations-maps/highlands/">
                <div class="hover hover-2 text-white rounded"><img src="assets/images/image4 (3).jpg" alt="image2" style="height:400px">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Highlands in Scotland</h3>
                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
    

